main {
    display: flex; /* Ensure main is a flex container */
    flex-direction: column; /* Stack child elements */
    align-items: center;
}

.product {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.product-image img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}
.product-info, .product-links {
    padding: 0 1rem;
    text-align: center;
}

main section {
    text-align: center;
}

main section h3 {
    margin-top: 2rem;
}

.products {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

@media screen and (max-width: 1450px) {
    .products {
        display: block;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
    }
}
h1 {
    text-align: center;
    margin-bottom: 1rem;
}