main h1 {
    color: white;
}

main {
    align-items: center;
    text-align: center;
}

main section h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product-image img {
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}