@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #24252a;
    box-shadow: 10px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    align-items: center; /* Vertically center items */
}

.nav-list {
    display: flex;
    flex: 1; /* Allow the nav-list to take up available space */
    justify-content: flex-end; /* Align menu items to the right */
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    transition: all 0.3s ease;
}

.mobile-menu.open {
    display: block;
}

@media screen and (max-width: 1450px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }

    .container {
        padding: 0 1rem; /* Less padding on small screens */
    }

    img {
        width: 90%; /* Make images responsive */
    }

    h1 {
        font-size: 1.5rem; /* Smaller font size for smaller screens */
    }

    ul {
        flex-direction: column; /* Stack items on smaller screens */
    }

    .logo img {
        max-width: 150px; /* Reduce the max width for smaller screens */
    }
    
}

header .center img {
    max-width: 250px;
    border-radius: 50%;
    border: 5px solid lightgreen;
    margin-bottom: 1rem;
}

.center {
    text-align: center;
}

body {
    padding: 1rem;
    color: white;
    background-color: black;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1.6; /* Improved readability */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem; /* Use rem for responsiveness */
}

a {
    color: white;
    text-decoration: none; /* Remove underline for links */
    transition: color 0.3s; /* Smooth color transition */
}

h1 {
    color: lightgreen;
    font-size: 2rem; /* Responsive font size */
}

nav a {
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: lightgreen;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}


nav a:hover {
    color: lightgreen;
}

.container {
    padding: 0 3rem; /* Use rem for consistency */
}

footer {
    box-shadow: 0px 3px 10px #464646;
    text-align: center;
    background-color: #24252a;
    padding: 2rem 0;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h2 {
    color: lightgreen;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer p {
    color: white;
    font-size: 1rem;
}

footer a {
    color: lightgreen;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin-bottom: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* Pushes the nav-list to the right */
}

.logo img {
    max-width: 200px;
}

h1 {
    margin-top: 1.5rem;
}

img {
    width: 100%;
    height: auto;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.download-btn:hover {
    background-color: #004d00;
    transform: scale(1.05); /* Adds a slight scale effect */
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto; /* Center the container */
    }
}

html, body {
    height: 100%;
}

h2, h3 {
    margin-bottom: 1rem; /* Adds space below headings */
}

main {
    flex-grow: 1;
}
